*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 4rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.primary-heading {
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  margin-bottom: 9.2rem;
}
.primary-heading--main {
  text-transform: uppercase;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  animation: moveInLeft 1s ease-out;
}
.primary-heading--sub {
  font-size: 2rem;
  letter-spacing: 1.95rem;
  font-weight: 700;
  animation: moveInRight 1s ease-out;
}

.secondry-heading {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
  letter-spacing: 0.2rem;
}
.secondry-heading:hover {
  transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(40, 180, 133, 0.2);
}

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.about-content-paragraph {
  font-size: 1.6rem;
}
.about-content-paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-center-text {
  text-align: center !important;
}

.u-left-text {
  text-align: left !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  border: none;
  outline: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 1.6rem;
  position: relative;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3rem;
  transition: all 0.4s;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #55c57a;
  border-bottom: 0.1rem solid #55c57a;
  padding: 0.3rem;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  border: none;
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translate(0);
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.15);
}

.composition {
  position: relative;
}
.composition__item {
  position: absolute;
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  transition: all 0.3s;
  outline-offset: 2rem;
}
.composition__item--p1 {
  left: 0;
  top: -2rem;
}
.composition__item--p2 {
  right: 0;
  top: 2rem;
}
.composition__item--p3 {
  left: 20%;
  top: 10rem;
}
.composition__item:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 20;
  transform: scale(1.05) translateY(-0.5rem);
  outline: 1.5rem solid #55c57a;
}
.composition:hover .composition__item:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  width: 33.33%;
}
.card__side {
  width: 100%;
  transition: all 0.8s ease;
  position: relative;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 0.3rem;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  text-align: center;
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__image {
  width: 100%;
  background-blend-mode: screen;
  height: 23rem;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__image--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg);
}
.card__image--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg);
}
.card__image--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg);
}
.card__haeding {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 300;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 70%;
  text-align: right;
}
.card__haeding--span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__haeding--span-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__haeding--span-2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__haeding--span-3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card__details ul li {
  padding: 1rem;
  font-size: 1.5rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 0.1rem solid rgba(238, 238, 238, 0.9333333333);
}
.card__price--only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price--value {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 8rem;
}

.story {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto 8rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
.story__shape {
  width: 15rem;
  height: 15rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  float: left;
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
.story__text {
  transform: skewX(12deg);
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(0.3rem) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.3rem solid transparent;
  display: block;
  width: 90%;
  color: inherit;
  transition: all 0.5s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: inline-block;
  transition: all 0.5s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-4rem);
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4.5rem;
  position: relative;
}
.form__radio-button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #55c57a;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #55c57a;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s;
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  height: 3.5rem;
}
.header-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.about-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
}

.features-container {
  display: flex;
  gap: 6rem;
}

.cards-container {
  display: flex;
  gap: 6rem;
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__nav {
  border-top: 0.1rem solid #777;
  padding-top: 2rem;
  display: inline-block;
}
.footer__list {
  display: flex;
  gap: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-transform: uppercase;
  transition: all 0.3s;
  display: inline-block;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

.about-section {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.features-section {
  background-color: #f7f7f7;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.features-section > * {
  transform: skewY(7deg);
}

.tours-section {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh;
}

.story-section {
  padding: 15rem 0;
  position: relative;
}

.book-section {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0;
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.book__form {
  width: 50%;
  padding: 6rem;
}

/*# sourceMappingURL=style.css.map */
