@mixin flexContainer {
  display: flex;
  gap: 6rem;
}
@mixin gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
}

// Media query manager
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media(max-width: 37.5em) {@content}
  } 
  @if $breakpoint == tab-port {
    @media(max-width: 56.25em) {@content}
  }
  @if $breakpoint == tab-land {
    @media(max-width: 75em) {@content}
  }
  @if $breakpoint == big-desktop {
    @media(min-width: 112.5em) {@content}
  }
}