.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: $white-color;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($black-color, 0.1);
    text-align: center;
    cursor: pointer;
  }
  &__background {
    width: 6rem;
    height: 6rem;
    background-image: radial-gradient($primary-color-light, $primary-color-dark);
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &__nav {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      color: $white-color;
      text-transform: uppercase;
      display: inline-block;
      padding: 1rem 2rem;
      background-size: 220%;
      transition: all 0.4s;
      background-image: linear-gradient(120deg, transparent 0% , transparent 50%, $white-color 50%);
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      color: $primary-color;
      background-position: 100%;
      transform: translateX(1rem);
    }
  }
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
  &__icon {
    position: relative;
    margin-top: 3.5rem;
      &,
      &::before,
      &::after {
        display: inline-block;
        width: 3rem;
        height: 0.2rem;
        background-color: $dark-gray-color-3;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }
      &::before {top: -.8rem;}
      &::after {top: .8rem;}
    }
    &__button:hover &__icon::before {
      top: -1rem;
    }
    &__button:hover &__icon::after {
      top: 1rem;
    }
    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
}