*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px 12/16
  } 
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px 9/16
  } 
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px 8/16
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 4rem;
}
