body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $dark-gray-color;
}

.primary-heading {
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  margin-bottom: 9.2rem;
  &--main {
    text-transform: uppercase;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;
    animation: moveInLeft 1s ease-out;
  }
  &--sub {
    font-size: 2rem;
    letter-spacing: 1.95rem;
    font-weight: 700;
    animation: moveInRight 1s ease-out;
  }
}
.secondry-heading {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
  letter-spacing: .2rem;
  &:hover {
    transform: skew(15deg , 2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($primary-color-dark, .2);
  }
}

.tertiary-heading {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.about-content-paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
